<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="active">Images</li>
  </ol>
</div>

<div class="container-fluid">
  <ul class="nav nav-pills pull-left">
    <li class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a class="action" data-action="remove" role="menuitem">Remove</a></li>
      </ul>
    </li>
  </ul>

  <div class="pull-right">
    <button type="button" class="btn btn-default reload">
      <span class="glyphicon glyphicon-refresh"></span> Reload
    </button>
    <button type="button" class="btn btn-default all" data-toggle="button">All</button>
  </div>
</div>

<div class="container-fluid">
  <div id="grid-wrapper"></div>
</div>
