<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="#/images">Images</a></li>
    <li class="active">{ model:Id }</li>
  </ol>
</div>

<div class="container-fluid">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Id</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Id }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Author</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Author }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Comment</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Comment }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Config.Image }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Env</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Config.Env | json }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">User</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Config.User }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">ExposedPorts</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Config.ExposedPorts | json }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Hostname</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Config.Hostname }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Cmd</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Config.Cmd | json }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Entrypoint</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Config.Entrypoint }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Volumes</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Config.Volumes | json }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Created</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Created }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Parent</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Parent }</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Size</label>
      <div class="col-sm-10">
        <p class="form-control-static">{ model:Size }</p>
      </div>
    </div>
  </div>
</div>
